<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.arm">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ChooseWorkerActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MenuActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ChooseObjectActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".MeasureActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".TroubleActivity" />
        <activity android:name=".OutputActivity" />
        <activity
            android:name=".DeviceListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/select_device"
            android:theme="@android:style/Theme.Holo.Dialog" />
        <activity android:name=".MainActivity" />
        <activity android:name=".TroubleshootingActivity" />
        <activity android:name=".MenuReportActivity" />
        <activity android:name=".ReportLastActivity" />
        <activity android:name=".ReportTroubleActivity"></activity>
    </application>

</manifest>